<div class="main-container">
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark fixed-top">
        <div class=" container-fluid">
            <a class="navbar-brand" href="/User/Home">Prepaid Smart Water Metering</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/User/Home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Recharge">Recharge</a>
                    </li>


                </ul>
                <ul class="navbar-nav ms-auto" style="justify-items:center;">

                    <li><button class="btn btn-danger btn-sm" (click)="logout()">Sign-out</button></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="stepper-form">
        <mat-vertical-stepper linear="true" headerPosition="top" #stepper>
            <mat-step [stepControl]="firstFormGroup" errorMessage="Device is required">
                <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Select Device</ng-template>
                    <mat-form-field>
                        <mat-select formControlName="firstCtrl" [(value)]="deviceSelectedid">

                            <mat-option *ngFor="let device of fetchdevice" [value]="device.id">{{device.id}}{{" /"}}
                                {{device.name}} </mat-option>

                        </mat-select>

                        <mat-error *ngIf="selectValid && selectValid.hasError('required')">You must make a
                            selection</mat-error>
                        <mat-error *ngIf=" selectValid &&!selectValid.hasError('required')">
                            Your selection is invalid
                        </mat-error></mat-form-field>
                    <div>
                        <button mat-button matStepperNext [disabled]="!firstFormGroup.valid">Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
                <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>Fill Out Your Card Code</ng-template>
                    <mat-form-field>
                        <input matInput placeholder="Serial Number" formControlName="secondCtrl" required>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext [disabled]="!secondFormGroup.valid">Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                You are now done.
                <div>
                    <button mat-button color="warn" matStepperPrevious>Back</button>
                    <button mat-button color="accent" (click)="stepper.reset()">Reset</button>
                    <button mat-button color="primary" (click)="submit()"
                        [disabled]="!secondFormGroup.valid || !firstFormGroup.valid">Submit</button>
                </div>
            </mat-step>
        </mat-vertical-stepper>
    </div>
</div>