@media only screen and (max-width:500px) {
    .main-container {
        width: 100%;

    }

    form {
        position: fixed;
        max-width: 300px;

    }

    mat-tab-group {

        max-width: 300px;

    }



}






.main-container {
    min-height: 100%;
    background-image: linear-gradient(rgba(0, 0, 255, 0.400), rgba(0, 0, 255, 0.500), rgba(0, 0, 255, 0.655), blue);

}



form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 440px;

    box-shadow: 0px 1px 4px rgba(55, 55, 245, 0.374);
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

h1 {
    font-weight: bold;

    text-align: center;
    padding: 15px;
    margin: 10 auto 25px auto;
    width: 95.5%;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    color: rgba(0, 0, 255, 0.731);

}

.form-control {
    width: 78%;
    margin: 8px auto 0px auto;
    font-size: 16px;
    font-weight: bold;

}





.signup {
    margin-top: 5px;
    text-align: center;

}

.signup p {
    color: black;
    font-size: 16px;
}

.signup a {
    color: blue;
    font-weight: bold;
    font-size: medium;
}

.signup a:hover {
    text-decoration: underline;


    cursor: pointer;

}


button {
    width: 250px;
    margin: 20px auto;

}


mat-tab-group {
    margin: auto;
    position: absolute;
    width: 440px;
    height: auto;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    align-items: center;
    background-color: azure;
}