<div class="main-container">

    <div>

        <mat-tab-group color="accent" dynamicHeight (focusChange)="clearForm()">
            <mat-tab label="Member ">
                <form [formGroup]="loginForm">
                    <br>

                    <mat-form-field class="form-control" appearance="legacy">
                        <mat-label>Name </mat-label>
                        <input matInput type='text' placeholder="Ex. Name" formControlName="userName"
                            (click)="clearErrorMessage()" aria-label="user input" autocomplete="off">
                        <mat-error *ngIf="nameValid && nameValid.hasError('required')">
                            Name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-control" appearance="legacy">
                        <mat-label>Password </mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"
                            aria-label="password input" (click)="clearErrorMessage()">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="passwordValid && passwordValid.hasError('required')">
                            Password is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <h2></h2>

                    <button mat-raised-button color="primary" aria-label="login button" [disabled]="!loginForm.valid"
                        (click)="memberSubmit()">Sign In
                        <mat-icon>login</mat-icon></button>
                    <br>
                    <div class="signup">
                        <p>No Account ? <a routerLink="/User/Signup">Register</a></p>
                    </div>
                    <br>
                </form>
            </mat-tab>
            <mat-tab label="Administrator">

                <form [formGroup]="adminLoginForm">
                    <br>
                    <mat-form-field class="form-control" appearance="legacy">
                        <mat-label>Official ID</mat-label>
                        <input matInput type='text' placeholder="Only Number " aria-label="id input"
                            formControlName="adminid" (click)="clearErrorMessage()" autocomplete="off">
                        <mat-error *ngIf="adminidValid && adminidValid.hasError('required')">
                            ID is <strong>required</strong>

                        </mat-error>

                    </mat-form-field>
                    <mat-form-field class="form-control" appearance="legacy">
                        <mat-label>Name </mat-label>
                        <input matInput type='text' placeholder="Ex. Name" formControlName="adminName"
                            (click)="clearErrorMessage()" aria-label="user input" autocomplete="off">
                        <mat-error *ngIf="adminNameValid && adminNameValid.hasError('required')">
                            Name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>


                    <mat-form-field class="form-control" appearance="legacy">
                        <mat-label>Password </mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" aria-label="password input"
                            formControlName="adminPass" (click)="clearErrorMessage()" autocomplete="off">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="adminPassValid && adminPassValid.hasError('required')">
                            Password is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>


                    <button mat-raised-button color="accent" aria-label="login button"
                        [disabled]="!adminLoginForm.valid" (click)="adminSubmit()">Sign In
                        <mat-icon>login</mat-icon></button>
                    <br>


                </form>

            </mat-tab>
        </mat-tab-group>


    </div>

</div>