<div class="main-container">

    <div>

        <mat-tab-group color="accent" dynamicHeight>
            <mat-tab label="Member ">
                <form [formGroup]="loginForm">
                    <br>

                    <mat-form-field class="form-control" appearance="legacy">
                        <mat-label>Name </mat-label>
                        <input matInput type='text' placeholder="Ex. Name" formControlName="userName"
                            (click)="clearErrorMessage()" aria-label="user input" autocomplete="off">
                        <mat-error *ngIf="nameValid && nameValid.hasError('required')">
                            Name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-control" appearance="legacy">
                        <mat-label>Password </mat-label>
                        <input matInput type='password' formControlName="password" aria-label="password input"
                            (click)="clearErrorMessage()">
                        <mat-error *ngIf="passwordValid && passwordValid.hasError('required')">
                            Password is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <h2></h2>

                    <button mat-raised-button color="primary" aria-label="login button" [disabled]="!loginForm.valid"
                        (click)="memberSubmit()">Sign In
                        <mat-icon>login</mat-icon></button>
                    <br>
                    <div class="signup">
                        <p>No Account ? <a routerLink="/signUp">Register</a></p>
                    </div>
                    <br>
                </form>
            </mat-tab>
            <mat-tab label="Administrator">

                <form [formGroup]="adminLogiForm">
                    <br>
                    <mat-form-field class="form-control" appearance="legacy">
                        <mat-label>Name </mat-label>
                        <input matInput type='text' placeholder="Ex. Name" formControlName="adminName"
                            (click)="clearErrorMessage()" aria-label="user input" autocomplete="off">
                        <mat-error *ngIf="adminNameValid && adminNameValid.hasError('required')">
                            Name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-control" appearance="legacy">
                        <mat-label>Official ID</mat-label>
                        <input matInput type='text' aria-label="id input" formControlName="adminid"
                            (click)="clearErrorMessage()">
                        <mat-error *ngIf="adminidValid && adminidValid.hasError('required')">
                            ID is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="form-control" appearance="legacy">
                        <mat-label>Password </mat-label>
                        <input matInput type='password' aria-label="password input" formControlName="adminPass"
                            (click)="clearErrorMessage()">
                        <mat-error *ngIf="adminPassValid && adminPassValid.hasError('required')">
                            Password is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>


                    <button mat-raised-button color="accent" aria-label="login button" [disabled]="!adminLogiForm.valid"
                        (click)="adminSubmit()">Sign In
                        <mat-icon>login</mat-icon></button>
                    <br>


                </form>

            </mat-tab>
        </mat-tab-group>


    </div>

</div>