<div class="main-container">

    <div>


        <form id='frame1' class='frame1' [formGroup]="loginForm">
            <h1>LOGIN</h1>

            <mat-form-field class="main-form-control" appearance="legacy">
                <mat-label>Name </mat-label>
                <input matInput type='text' placeholder="Ex. Name" formControlName="name" (click)="clearErrorMessage()"
                    aria-label="user input" autocomplete="off">
                <mat-error *ngIf="nameValid && nameValid.hasError('required')">
                    Name is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="main-form-control" appearance="legacy">
                <mat-label>Password </mat-label>
                <input matInput type='password' formControlName="password" aria-label="password input"
                    (click)="clearErrorMessage()">
                <mat-error *ngIf="passwordValid && passwordValid.hasError('required')">
                    Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>


            <button mat-raised-button aria-label="login button" color="primary" [disabled]="!loginForm.valid"
                (click)="submit()">LOGIN</button>
            <div class="signup">
                <p>No Account ? <a routerLink="/signUp">SignUp</a></p>
            </div>

        </form>
    </div>

</div>