<pm-navbar-details></pm-navbar-details>
<br>
<div class="main-container">
    <div class="notifications">

        <mat-icon [matBadge]="notinumber" [matBadgeHidden]="hidenotif" matBadgeColor="accent" matTooltip="Message"
            matTooltipPosition="left" style="color:blue" (click)="showNotification()">message</mat-icon>

        <mat-icon color="danger" [matBadge]="faultnumber" [matBadgeHidden]="hidefault" matBadgeColor="primary"
            matTooltip="Faults" matTooltipPosition="right" style="color:red"
            (click)="showFaults()">notifications</mat-icon>
    </div>
    <div class=" row" *ngFor="let deviceD of deviceDetails">
        <div class="left-section">
            <mat-card>
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>General Info <label style="color:blue;">
                                {{deviceid}} </label></mat-card-title>
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                    <ul>
                        <li>
                            <h3>
                                Name : {{deviceD.name}}
                            </h3>
                        </li>
                        <li>
                            <h3>Customer : {{deviceD.macaddres}} </h3>
                        </li>
                        <li>
                            <h3>Idle Days : {{deviceD.idleday}} </h3>
                        </li>
                        <li>
                            <h3>Cycle From : {{deviceD.cyclefrom}}</h3>
                        </li>
                        <li>
                            <h3>Expiry Date : {{deviceD.cycleto}}</h3>
                        </li>
                    </ul>

                </mat-card-content>
            </mat-card>
            <h6></h6>

        </div>
        <div class="right-section">
            <mat-card>
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>Control Panel</mat-card-title>
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                    <ul>
                        <li>
                            <h3>Status : {{deviceD.adminstatus}}</h3>
                        </li>
                        <li>
                            <h3>Refill Amount : {{deviceD.rechargequantity}} </h3>
                        </li>
                        <li>
                            <h3>Used Amount : {{deviceD.quantityused}}</h3>
                        </li>
                        <li>
                            <h3>Remaining : {{deviceD.remainingquantity}}</h3>
                        </li>
                        <li>

                            <form class="row-form" [formGroup]="statusForm">
                                <h3>Device Status</h3>
                                <mat-slide-toggle color="primary"
                                    [checked]="deviceD.userstatus === 'true' ? true : false" matTooltip="ON/OFF"
                                    (change)="turnOn($event)">

                                </mat-slide-toggle>
                            </form>
                        </li>


                    </ul>

                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <pm-charts [deviceid]='deviceid'></pm-charts>

    <pm-chart2 [deviceid]='deviceid' [date]="chart2Date"></pm-chart2>
</div>