<pm-navbar></pm-navbar>
<br>
<div class="main-container">
    <div class="left-section">
        <mat-card>
            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title>Personal Information</mat-card-title>
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
                <ul *ngFor="let userinfo of userInfos">
                    <li>
                        <h3>Account : {{userinfo.account}} </h3>
                    </li>
                    <li>
                        <h3>Name : {{userinfo.name}} </h3>
                    </li>
                    <li>
                        <h3>Phone : {{userinfo.phone}} </h3>
                    </li>
                    <li>
                        <h3>Email : {{userinfo.email}} </h3>
                    </li>

                </ul>

            </mat-card-content>
        </mat-card>
        <h6></h6>
        <mat-divider></mat-divider>
        <h6></h6>
        <mat-accordion>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Change Password
                    </mat-panel-title>

                </mat-expansion-panel-header>
                <mat-label>New Password</mat-label>
                <form [formGroup]="changePasswordFormGroup">
                    <mat-form-field class="changepass">
                        <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password"
                            aria-label="password input" formControlName="changePass" autocomplete="off">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="changePassValid && changePassValid.hasError('required')">
                            Password is <strong>required</strong></mat-error>

                    </mat-form-field>
                    <button mat-icon-button matTooltip="Save" color="primary" aria-label="save changed password "
                        [disabled]="changePasswordFormGroup.invalid" (click)="changePass()">
                        <mat-icon>save</mat-icon>
                    </button>
                </form>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <div class="right-section">
        <div class="row">
            <mat-form-field class="searchbar" appearance="legacy">
                <mat-label>Search...</mat-label>
                <input matInput type="text" aria-label="searchbar" name="searchString" (keyup)="filterBySearch($event)">
            </mat-form-field>
            <button mat-fab matTooltip="Add Device" color="primary" aria-label="add new device"
                (click)="openAddDeviceDialog()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <div class="table-responsive" *ngIf="devicesData?.length">
            <table class="table table-light table-striped table-responsive">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>City</th>
                        <th>Quantity Meter</th>
                        <th>Status</th>
                        <th>Gov.Status</th>
                        <th>option</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let device of filteredDeviceData">
                        <td>{{device.id}}</td>
                        <td> {{device.name}}</td>
                        <td>{{device.cityname}}</td>
                        <td><mat-progress-bar color="primary" mode="determinate" [value]="device.quantityused"
                                matTooltip="{{device.quantityused}} % of {{device.rechargequantity}}">
                            </mat-progress-bar></td>
                        <td><mat-slide-toggle color="primary" [checked]="device.userstatus === 'true' ? true : false"
                                disabled="true" [matTooltip]="device.userstatus ==='true' ? 'ON' : 'OFF'">

                            </mat-slide-toggle></td>
                        <td><mat-slide-toggle color="accent" [checked]="device.adminstatus === 'true' ? true : false"
                                disabled="true"
                                [matTooltip]="device.adminstatus ==='true' ? 'Authorized' : 'Unauthorized'">

                            </mat-slide-toggle></td>
                        <td><button mat-icon-button matTooltip="More details" color="primary"
                                aria-label="table more button" (click)="deviceDetails(device.id)">
                                <mat-icon>menu</mat-icon>
                            </button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>