<div class="column">
    <form class="form-year" [formGroup]="selectyearForm">
        <label>Select year </label>
        <input type="number" formControlName="selectedyear">
        <button mat-mini-fab color="primary" aria-label="Select year " (click)="changechart()">
            <mat-icon>refresh</mat-icon>
        </button>
    </form>
    <div class="row">

        <highcharts-chart class="chart" [Highcharts]="Highcharts" [options]="chart" *ngIf="firstAvailableData.length">
        </highcharts-chart>
        <highcharts-chart class="piechart" [Highcharts]="Highcharts" [options]="piechart"
            *ngIf="firstAvailableData.length">
        </highcharts-chart>
    </div>
    <highcharts-chart class="turbiditychart" [Highcharts]="Highcharts" [options]="turbiditychart"
        *ngIf="firstAvailableData.length">
    </highcharts-chart>
    <hr class="rounded">
    <form class="form-year" [formGroup]="selectmonthForm">
        <label>Select Month</label>
        <input type="month" formControlName="selectedMonth" [placeholder]="month" style="width:11em;">
        <button mat-mini-fab color="primary" aria-label="Select year " (click)="changeMonthChart()">
            <mat-icon>refresh</mat-icon>
        </button>
    </form>

    <highcharts-chart class="turbiditychart" [Highcharts]="Highcharts" [options]="dailychart"
        *ngIf="SecondAvailableData.length">
    </highcharts-chart>
    <hr class="rounded">
    <form class="form-year" [formGroup]="selectdayForm">
        <label>Select Day</label>
        <input type="date" formControlName="selectedDay" style="width:11em; margin-left: 20px;">
        <button mat-mini-fab color="primary" aria-label="Select day " (click)="changeday()">
            <mat-icon>refresh</mat-icon>
        </button>
    </form>

    <div class="row" *ngIf="waterDailyData?.length">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>Time</th>
                    <th>Water Amount (L)</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let water of waterDailyData">
                    <td>{{water.Time}}</td>
                    <td>{{water.watervalue}}</td>

                </tr>
            </tbody>
        </table>

        <table class="table">
            <thead class="table-success">
                <tr>
                    <th>Time</th>
                    <th>Turbidity (NTU)</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let turbid of TurbidityDailyData">
                    <td>{{turbid.Time}}</td>
                    <td>{{turbid.turbidityvalue}}</td>

                </tr>
            </tbody>
        </table>
    </div>
    <hr class="rounded">
</div>